# dependencies
node_modules/

# env
.env
.env.*

# local config files
firmware/config.json

# Next.js
.next/
out/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# misc
coverage/
*.pem
